# admin contact mail address for letsencrypt
#
ADMIN_CONTACT_LETSENCRYPT=mail@example.org

# fully qualified domain name for docker composition
#
BASE_URL=localhost

# configuration for ldap
#
LDAP_SCHEMA=ldap
LDAP_HOST=openldap
LDAP_PORT=389
LDAP_STARTTLS=false
LDAP_BASE=dc=medienhaus,dc=dev
LDAP_ATTRIBUTE_UID=cn
LDAP_ATTRIBUTE_MAIL=mail
LDAP_ATTRIBUTE_NAME=name
LDAP_BIND_DN=cn=admin,dc=medienhaus,dc=dev

# passwords for openldap
#
LDAP_BIND_PASSWORD=change_me
LDAP_CONFIG_PASSWORD=change_me

# passwords / secrets for matrix-synapse
#
MATRIX_POSTGRES_PASSWORD=change_me
MATRIX_FORM_SECRET=change_me
MATRIX_MACAROON_SECRET_KEY=change_me
MATRIX_REGISTRATION_SECRET=change_me

# passwords for etherpad
#
ETHERPAD_POSTGRES_PASSWORD=change_me
ETHERPAD_ADMIN_PASSWORD=change_me

# passwords / secrets for spacedeck
#
SPACEDECK_POSTGRES_PASSWORD=change_me
SPACEDECK_EXPORT_API_SECRET=change_me
SPACEDECK_INVITE_CODE=change_me
SPACEDECK_SESSION_KEY=change_me

# development / localhost: `http`
# production / remotehost: `https`
#
HTTP_SCHEMA=http

# fully qualified domain name for all services
#
SPACES_HOSTNAME=${BASE_URL}

# custom app prefix / title for all services -- for example:
# `medienhaus/spaces`, `medienhaus/chat`, `medienhaus/write`
#
SPACES_APP_PREFIX=medienhaus

# fully qualified domain name for all matrix ids; this needs to
# serve matrix-synapse, or serve `.well-known` delegation files
#
# https://matrix-org.github.io/synapse/latest/reverse_proxy.html
#
MATRIX_SERVERNAME=matrix.${SPACES_HOSTNAME}

# fully qualified domain name serving matrix-synapse if served from
# _any_other_ fully qualified domain name than ${MATRIX_SERVERNAME}
#
# https://github.com/matrix-org/synapse/blob/develop/docs/delegate.md
#
MATRIX_BASEURL=${MATRIX_SERVERNAME}

