[submodule "etherpad-lite"]
	path = etherpad-lite
	url = https://github.com/ether/etherpad-lite.git
	branch = develop
[submodule "etherpad-skin-medienhaus"]
	path = etherpad-skin-medienhaus
	url = https://github.com/medienhaus/etherpad-skin-medienhaus.git
	branch = main
[submodule "spacedeck-open"]
	path = spacedeck-open
	url = https://github.com/spacedeck/spacedeck-open.git
	branch = mnt
#[submodule "spacedeck-open"]
#	path = spacedeck-open
#	url = https://github.com/arillo/spacedeck-open.git
#	branch = feature/merge-mnt
#[submodule "peertube"]
#	path = peertube
#	url = https://github.com/Chocobozzz/PeerTube.git
#	branch = develop
#[submodule "rallly"]
#	path = rallly
#	url = https://github.com/lukevella/rallly.git
#	branch = main
[submodule "medienhaus-spaces-multi-auth"]
	path = medienhaus-spaces-multi-auth
	url = git@github.com--medienhaus-spaces-multi-auth:medienhaus/medienhaus-spaces-multi-auth.git
	branch = chat-element
