[submodule "etherpad-lite"]
	path = etherpad-lite
	url = https://github.com/ether/etherpad-lite.git
	branch = develop
[submodule "etherpad-skin-medienhaus"]
	path = etherpad-skin-medienhaus
	url = https://github.com/medienhaus/etherpad-skin-medienhaus.git
	branch = main
[submodule "spacedeck-open"]
	path = spacedeck-open
	url = https://github.com/arillo/spacedeck-open.git
	branch = feature/merge-mnt
[submodule "medienhaus-spaces"]
	path = medienhaus-spaces
	url = https://github.com/medienhaus/medienhaus-spaces
	branch = develop
